/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общие стили сайта */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

/* Главная страница */

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  background-color: #ffffff;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo-link {
  margin-right: 28px;
}

.header-logo {
  display: block;
}

.navigation-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 460px;
}

.navigation-user {
  justify-content: flex-end;
  width: 268px;
  margin-left: auto;
}

.navigation-main-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
}

.button-search,
.button-favorite {
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #ffffff;
}

.button-search {
  background-image: url("../images/header/search.svg");
}

.button-favorite {
  background-image: url("../images/header/heart.svg");
}

.want-here,
.hotels-more {
  display: block;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  padding: 8px 26px;
  border-radius: 4px;
}

.want-here {
  margin-left: 29px;
}

.main-container {
  flex-grow: 1;
}
.main-index {
  background-color: #fff;
}

.hero {
  background-image: url("../images/backgrounds/welcome-background-divider.png"),
    url("../images/backgrounds/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position:
    0 100%,
    0 0;
  background-size: 100% auto;
  background-color: #9b9797;
  margin-bottom: 69px;
}

.hero-image-main {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.gallery-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.gallery-subscription {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 69px;
}

.gallery {
  text-align: center;
  margin-bottom: 64px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 400px;
  align-items: center;
  box-sizing: border-box;
  padding: 112px 85px;
}

.gallery-item h3 {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.gallery-item p {
  margin: 0;
  padding: 0;
  width: 230px;
  text-align: center;
  color: #333333;
  font-weight: 400;
}

.gallery-item-picture-image{
  margin-block: auto;
}

.gallery-item-picture-image img {
  display: block;
}

.gallery-item-picture {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
}

.gallery-item-picture p {
  color: #ffffff;
  margin-bottom: 102px;
}

.gallery-item-picture h3 {
  color: #ffffff;
}

.gallery-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.gallery-item-middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.gallery-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 102px 85px;
}

.gallery-item-wrap h3 {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.gallery-item-wrap p {
  margin: 0;
  padding: 0;
  width: 230px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.advantages h2 {
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 800px;
}

.advantages-subscription {
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 64px;
  max-width: 1000px;
  margin-inline: auto;
}

.advantages {
  text-align: center;
  margin-bottom: 75px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  padding: 241px 85px 81px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-housing {
  background-image: url("../images/advantages/advantages-home.svg");
}

.advantages-item-food {
  background-image: url("../images/advantages/advantages-food.svg");
}

.advantages-item-souvenir {
  background-image: url("../images/advantages/advantages-souvenir.svg");
}

.appointment {
  text-align: center;
  margin-bottom: 96px;
}

.appointment-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  max-width: 800px;
  margin-inline: auto;
}

.appointment-subscription {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
  max-width: 1000px;
  margin-inline: auto;
}

.appointment a {
  display: block;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 380px;
  margin-inline: auto;
}

.subscribe-index {
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #b8aaaa;
}

.subscribe-index-subscription,
.subscribe-hotels-subscription {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width: 900px;
  margin-inline: auto;
}

.subscribe-index,
.subscribe-hotels {
  text-align: center;
  background-color: #ffffff;
  padding: 96px 258px 104px;
}

.subscribe-index h2,
.subscribe-hotels h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 600px;
  margin-inline: auto;
}

.subscribe-table {
  display: flex;
  width: 690px;
}

.input-subscribe {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  height: 52px;
  border: none;
  margin: 0;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  padding: 8px 50px;
  background-color: transparent;
}

.button-blue {
  background-color: #82b3d3;
}

.button-subscribe {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  max-width: 300px;
}

.button-to-favorites,
.button-in-favorites {
  padding: 8px 20px;
}

.button-in-favorites {
  background-color: #7db54f;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 45px 70px 30px;
}

.socials {
  width: 200px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 200px;
}

.social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 47px;
  min-height: 40px;
}

.social-link-vk {
  background-image: url("../images/socials/socials-vk.svg");
}

.social-link-telegram {
  background-image: url("../images/socials/socials-telegram.svg");
}

.social-link-youtube {
  background-image: url("../images/socials/socials-youtube.svg");
}

.phone {
  width: 335px;
}

.phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

.academy-logo {
  width: 115px;
}

/* Страница с отелями */

.main-inner {
  display: flex;
  flex-direction: column;
}

.wrapper-background {
  color: #ffffff;
  background-image: url("../images/backgrounds/hotels-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 73px;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link-home {
  display: block;
  min-width: 12px;
  min-height: 12px;
  background-image: url("../images/hotels/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  margin-right: 23px;
}

.hotels-filter-form {
  display: flex;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-pool {
  width: 150px;
  margin-right: 70px;
}

.filter-group-housing {
  width: 150px;
  margin-right: 140px;
}

.filter-group-costs {
  width: 288px;
  margin-right: 70px;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 32px;
}

.filter-label {
  margin: 0;
  padding: 0;
}

.control-input {
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.filter-label:not(:last-child) {
  margin-bottom: 19px;
}

.cost-wrap {
  display: flex;
  gap: 2px;
  position: relative;
}

.input-costs-from,
.input-costs-to {
  display: block;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  border: none;
  margin-bottom: 36px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 20px;
}

.costs-label {
  position: absolute;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.2;
}

.costs-label-from {
  top: 12px;
  left: 106px;
}

.costs-label-to {
  top: 12px;
  right: 12px;
}

.input-costs-from {
  border-radius: 4px 0 0 4px;
}

.input-costs-to {
  border-radius: 0 4px 4px 0;
}

.button-submit {
  margin-top: 56px;
}

.button-reset {
  margin-top: auto;
}

.hotels {
  background-color: #ffffff;
  padding: 50px 70px 0;
}

.hotels-controls-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.hotels-controls-wrap h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 200px;
}

.select-control {
  width: 292px;
  height: 50px;
  margin-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.breadcrumbs-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.control {
  font-size: 20px;
  line-height: 24px;
}

.filter-label {
  font-weight: 400;
  line-height: 23px;
}

.costs-label {
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}

.select-control-option {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 160px;
}

.view-button {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-button-selected {
  border-color: #000000;
}

.view-button-grid {
  background-image: url("../images/hotels/view-grid.svg");
}

.view-button-card {
  background-image: url("../images/hotels/view-card.svg");
}

.view-button-list {
  background-image: url("../images/hotels/view-list.svg");
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 20px;
  margin-bottom: 80px;
}

.hotels-item {
  display: flex;
  flex-direction: column;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  gap: 16px;
}

.hotel-image-link {
  order: -1;
  align-self: center;
}

.hotel-image-link img {
  display: block;
}

.hotels-item span,
.hotel-costs {
  font-weight: 400;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-title h3 {
  margin: 0;
  padding: 0;
}

.hotels-more {
  width: 140px;
  box-sizing: border-box;
}

.hotel-cost-wrap,
.hotel-buttons-wrap,
.hotel-rating-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-rating {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 60px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  min-width: 40px;
  min-height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-more {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-hotels h2 {
  color: #000000;
}

.subscribe-hotels-subscription {
  color: #333333;
}
