/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общие стили сайта */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

/* Главная страница */

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.page-header {
  background-color: #ffffff;
  height: 100%;
}

.navigation {
  display: flex;
  height: 63px;
}

.header-logo-link {
  padding-left: 70px;
  margin-right: 46px;
  z-index: 1;
}

.header-logo {
  display: block;
}

.navigation-main {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 460px;
}

.navigation-user {
  padding-right: 70px;
  justify-content: flex-end;
}

.navigation-main-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-main-link {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
}

.want-here,
.hotels-more {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  padding: 8px 34px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}
.main-index {
  background-color: #fff;
}

.hero {
  /* height: 542px; */
  background-image: url("../images/backgrounds/welcome-background-divider.png"),
    url("../images/backgrounds/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position:
    0 100%,
    0 0;
  background-size: 100% auto;
  background-color: #9b9797;
}

.hero-image-main {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 82px;
}

.gallery-title {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.gallery-subscription {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 69px;
}

.gallery {
  text-align: center;
  margin-bottom: 64px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 400px;
}

.gallery-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 112px;
  padding: 112px 112px 0 112px;
  margin-bottom: 62px;
}

.gallery-item p {
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: 400;
  margin-bottom: 112px;
  padding: 0 85px;
}

.gallery-item img {
  display: block;
}

.gallery-item-picture {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
}

.gallery-item-picture p {
  color: #ffffff;
  margin-bottom: 102px;
}

.gallery-item-picture h3 {
  color: #ffffff;
  padding-top: 102px;
}

.gallery-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.gallery-item-middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.gallery-item-wrap {
  display: flex;
  flex-direction: column;
}

.advantages h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantages-subscription {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 64px;
}

.advantages {
  text-align: center;
  margin-bottom: 75px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 183px 85px 0 85px;
  margin-bottom: 30px;
}

.advantages-item p {
  font-weight: 400;
  padding: 0 85px;
  margin-bottom: 81px;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

.appointment {
  text-align: center;
  margin-bottom: 96px;
}

.appointment-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.appointment-subscription {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding: 0 304px;
  margin-bottom: 54px;
}

.appointment a {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
}

.subscribe-index {
  min-height: 414px;
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #b8aaaa;
}

.subscribe-index-subscription,
.subscribe-hotels-subscription {
  margin: 0;
  padding: 0;
  padding: 0 362px;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscribe-index,
.subscribe-hotels {
  text-align: center;
  background-color: #ffffff;
}

.subscribe-index h2,
.subscribe-hotels h2 {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-table input {
  font-family: inherit;
  line-height: 24px;
}

.button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
  background-color: transparent;
}

.button-blue {
  background-color: #82b3d3;
}

.button-subscribe {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.button-to-favorites,
.button-in-favorites {
  padding: 8px 20px;
}

.button-in-favorites {
  background-color: #7db54f;
}

.page-footer{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.socials{
  padding-top: 45px;
  padding-left: 70px;margin-bottom: 20px;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item{
  background-repeat: no-repeat;
}

.social-item-vk{
  background-image: url("../images/socials/socials-vk.svg");
}

.social-item-telegram{
  background-image: url("../images/socials/socials-telegram.svg");
}

.social-item-youtube{
  background-image: url("../images/socials/socials-youtube.svg");
}

.phone {
  width: 335px;
  padding-top: 45px;
  margin-bottom: 35px;
}

.phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

.academy-logo {
  width: 115px;
  padding-top: 45px;
  padding-right: 70px;
  margin-bottom: 38px;
}

/* Страница с отелями */

.main-inner {
  display: flex;
  flex-direction: column;
}

.wrapper-background {
  color: #ffffff;
  background-color: #5e5050;
  background-image: url("../images/backgrounds/hotels-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px 70px 0;
}

.inner-header h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item-home{
  background-image: url("../images/hotels/breadcrumbs-home.svg");
  background-repeat: no-repeat;
}

.hotels-filter-form{
  display: flex;
}

.hotels {
  background-color: #ffffff;
  padding: 0 70px;
}

.hotels-controls-wrap{
  display: flex;
  align-items: center;
}

.hotels-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.breadcrumbs-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.control {
  font-size: 20px;
  line-height: 24px;
}

.filter-label {
  font-weight: 400;
  line-height: 23px;
}

.costs-label {
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}

.select-control-option {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view-buttons-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-button{
  background-repeat: no-repeat;
}

.view-button-grid{
  background-image: url("../images/hotels/view-grid.svg");
}

.view-button-card{
  background-image: url("../images/hotels/view-card.svg");
}

.view-button-list{
  background-image: url("../images/hotels/view-list.svg");
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.hotels-item {
  width: 340px;
  border: 1px solid #e6e6e6;
}

.hotels-item img {
  display: block;
}

.hotels-item span,
.hotel-costs {
  font-weight: 400;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-rating {
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 11px 18px 12px 18px;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-hotels h2 {
  color: #000000;
}

.subscribe-hotels-subscription {
  color: #333333;
}
